[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0"
gunicorn = "*"
structlog = "*"

[dev-packages]
pytest-flask = "*"
pytest-black = "*"
pytest-isort = "*"
policykit = "*"
